@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
     margin: 0px;
     background-color: rgb(233, 218, 195);
     color: #381d26;
     font-family: 'ubuntu mono';
     font-size: 17px;
     font-weight: 600;
     overflow-y: auto;
}

.white {
     margin: 50px;
     background: hsl(36, 60%, 90%);
     border-radius: 25px;
     padding: 50px;
     padding-top: 25px;
     padding-bottom: 25px;
}

p {
     text-align: center;
}

a {
     color: #bc9e6b;
}

select {
     height: 21.25px;
     font-family: 'ubuntu mono';
     text-transform: capitalize;
}

.parents input[type='checkbox'] {
     margin: -10px;
     margin-left: 5px;
     padding: 0px;
     vertical-align: middle;
     height: 16px;
     width: 16px;
}

.inputs select {
     margin: 5px;
     float: right;
     width: 100px;
     overflow: auto;
}

#inputcontainer {
     margin: auto;
     width: 750px;
     display: flex;
     justify-content: center;
}

.inputs {
     width: 40%;
     min-width: ;
     max-width: ;
     font-size: 15px;
     padding: 25px;
}

.inputs label {
     line-height: 32px;
}

.inputs input {
     width: 86px;
     height: 15px;
     padding: 0;
     margin: 0;
     margin-right: 5px;
     vertical-align: middle;
     position: relative;
     top: 10px;
     float: right;
}

.parents {
     clear: left;
     text-align: center;
}

.foalOutput {
     text-align: center;
     white-space: pre-line;
     font-weight: 900;
     font-size: 19px;
}

button {
     background-color: #381d26;
     border: none;
     color: #e2c491;
     padding: 10px 25px;
     text-align: center;
     display: inline-block;
     font-family: 'ubuntu mono';
     font-size: 16px;
}

button:hover {
     background-color: #663764;
     color: #e2c491;
}

button:active {
     filter: brightness(115%);
}

button:focus {
     outline: 0;
}
